.content {
    background-color: black;
    height: 300px;
}

.left-content-education {
    width: 400px;
    height: 200;
    font-size: 40px;

    background-color: aquamarine;
}
.right-content-education {
    width: 400px;
    height: 200;
    font-size: 40px;
    background-color: firebrick;
}